* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Avenue de Madison';
    src: url(../fonts/Avenue\ de\ Madison.ttf) format('truetype');
}

:root {
    --font-form: 'Avenue de Madison.ttf';
}

#main {
    background: black;
    width: 65%;
    margin: 1% auto;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

body {
    color: #FFF;
}

a {
    color: #FFF;
    transition: 1s;
}

a:hover {
    color: #007B8F;
}

#main a {
    text-decoration: none;
}

#menu {
    display: flex;
    justify-content: center;
}

.options-menu ul{
    display: flex;
    width:100%;
    /* background-color: blue; */
}

.options-menu li {
    margin: auto;
    list-style: none;
    font-size: 22px;
    margin: 2px;
    /* background-color: blue; */
}

.options-menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    border-radius: 5%;
}

.options-menu ul li a:hover {
    background-color: #007B8F;
    color: #80EEFF;
    transition: 1s;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 5px;
}

.info-class {
    display: flex;
    justify-content: start;
    width: 100%;
    margin: 5px 0 30px 0;
}

section h1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.info-class{
    font-size: 27px;
}

section h1{
    font-size: 70px;
}

.autor {
    font-family: var(--font-form);
    font-size: 52px;
}

figure {
    margin: auto;
    border: 1px solid #CCC;
    border-radius: 2%;
    padding: 5px;
}

section figure img {
    display: flex;
    width: 60%;
    margin: auto;
    background-size: cover;
    border-radius: 20%;
}

figcaption {
    text-align: center;
    margin: 0px 0px 20px 0px;
}


#bio h1 {
    display: block;
    width: 100%;
    margin: 20px 0 30px 0;
}

.history {
    display: flex;
}

p {
    text-align: justify;
    text-indent: 3%;
    line-height: 23px;
    font-size: 20px;
    width: 100%;
    margin: 20px;
}

#fim {
    font-size: 50px;
}

footer {
    margin: 100px 0 0 0;
}