/* Reset e Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 255, 0.388);
    max-width: 750px;
    margin: 20px auto;
}

/* Estilo principal do #main */
#main {
    background-color: aqua;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

/* Texto padrão */
title,
h1,
h2,
h3 {
    text-align: center;
    color: rgba(0, 0, 255, 0.521);
    margin: 30px auto;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    text-align: justify;
}

p {
    font-size: 18px;
    margin: 20px auto;
    text-indent: 25px;
}

ul {
    margin-top: 0px;
    margin-bottom: 25px;
    padding-left: 25px;
}

ul li {
    margin-top: 15px;
}

#next {
    display: block;
    text-align: right;
}

.red {
    color: red;
}

/*IMG*/
img {
    max-width: 100%;
    height: auto;
    /* object-fit: cover; */
}

/* Responsividade */

/* Telas muito pequenas (200px até 720px) */
@media (min-width: 200px) and (max-width: 720px) {
    body {
        background-color: rgb(133, 0, 0);
        max-width: 300px;
        margin: 20px auto;
    }

    #main {
        background-color: rgb(255, 255, 255);
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 19px;
    }

    p {
        font-size: 15px;
    }
}

/* Telas médias (721px até 1200px) */
@media (min-width: 721px) and (max-width: 1200px) {
    body {
        background-color: rgba(0, 0, 0, 0.388);
        max-width: 720px;
        margin: 20px auto;
    }

    #main {
        background-color: aqua;
    }
}

/* Telas grandes (acima de 1200px) */
@media (min-width: 1201px) {
    body {
        background-color: rgba(0, 0, 255, 0.388);
        max-width: 750px;
        margin: 20px auto;
    }

    #main {
        background-color: aqua;
    }
}

/*Impressao*/
@media print {
    h1 {
        color: black;
        font-size: 25px;
        font-weight: bold;
    }

    h3 {
        color: black;
        font-size: 18px;
        font-weight: bold;
    }

    p {
        font-size: 15px;
    }
}