:root {
    --color1: #1F1F1F;
    --link: #91B9F1;
    --padraColor: #BFBFBF;
    --search: #4D5156;
}

* {
    margin: 0;
    padding: 0;
}
/*BODY*/
body {
    background-color: var(--color1);
    color: var(--padraColor);
}

/* MAIN */

#main {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    font-family: sans-serif;
}

/* Links */
a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* HEADER BUSCA*/

#header .busca {
    display: flex;
    align-items: center; /* centraliza verticalmente */
    gap: 20px; /* espaço entre logo e form */
    padding: 20px 70px; /* ajusta margem parecida com Google */
}

#header picture img {
    display: block; /* imagem padrão */
    max-width: 120px; /* tamanho fixo em vez de % */
}

.search {
    flex: 1; /* ocupa o resto do espaço */
}

.search form {
    display: flex;
    width: 100%;
}

.search input[type=search] {
    border-radius: 20px;
    background-color: var(--search);
    width: 700px; /* ocupa o espaço da div */
    padding: 10px;
    border: none;
    color: white;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
    /* margin-right: -40px; */
}

.menu ul, li {
    display: flex;
    margin: 0 0 0 5px;
    align-items: center;
}

.menu li {
    margin: 0 5px;
}

.menu ul, li img {
    width: 25px;
    border-radius: 50%;
}

.tags {
    font-size: 12px;
    /* background-color: #91b9f152; */
    width: 46%;
    margin-left: 210px;
}

.tags, ul, li {
    display: flex;
}

.tags li {
    margin: 0 10px;
}

.tags a {
    font-weight: bolder;
    color: var(--search);
}

.tags a:hover {
    color: white;
}

.geral {
    flex:1;
}

/* SECTION LINKS */
#links {
    /* background-color: #91b9f152; */
    width: 46%;
    margin-top: 25px;
    margin-left: 223px;
}

.site {
    margin: 25px 0;
}