* {
    font-family: arial;
}

body {
    padding: 0;
    margin: 0;
}
/* Logo  */
header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    width: 990px;
    display: flex;
    justify-content: space-between ; /* Para cada div ficar de um lado da tela*/
}

.logo {
    display: flex;
    align-items: center; /* Para podermos alinhar a imagem */
}

.menu {
    display: flex;
    align-items: center;
}

nav ul, 
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block; /* Para conseguirmos fazer algumas alteracoes como tamanho, area e etc */
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase; /* Para ficar sempre com letras maiusculas */
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}

nav .active a,
nav a:hover{
    background-color: #39AAE1;
    color: #FFFF;
}

/* BANNER */

#banner {
    display: flex;
    justify-content: center;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
}

.container-column {
    display: flex;
    flex-direction: column;
    max-width: 990px; /* mesmo tamanho do .container para alinhar com o header */
    width: 100%;
}

.banner-headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-headline h1 {
    color: #FFFF;
    font-size: 70px;
    text-shadow: 0px 1px 0 #555555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
}

.banner-headline h2 {
    color: #FFFFFF;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0px;
    padding: 0px;
    max-width: 350px;
    margin-top: 30px;
}

.banner-options {
    flex: 1;
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #FFF;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner-title {
    color: #FFF;
    font-size: 21px;
}

.banner-desc {
    font-size: 12px;
    margin: 20px 0 20px 0;
}

.banner-options a {
    display: inline-block;
    border: 1px solid #FFF;
    padding: 5px;
    font-style: none;
    font-size: 12px;
    text-decoration: none;
    color: #FFF;
}

.open {
    font-size: 14px;
}

.op1,
.op2 {
    border-bottom: 1px solid #0079c7;
}

/* CONTEUDO */
#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget-title-text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
}

.widget-title-bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: ; */
}

.space {
    background-color: #39aae1;
    height: 150px;
    width: 150px;
    margin: 20px 0;
}

.info a {
    text-decoration: none;
}

.end-bar {
    background-color: #CCC;
    height: 1px;
    width: 100%;
}

/*  */
article .news-date {
    display: flex;
}

article .news-posted-at {
    background-color: #2b4c99;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
}

article .news-coments {
    background-color: #39aae1;
    color: #FFF;
    font-size: 12px;
    padding: 10px;
    margin: 0 0 0 2px;
}

article .news-thumbnail {
    margin: 30px 0 0 0;
}

article .news-thumbnail img {
    width: 100%;
    height: auto;
}

article .news-title {
    margin: 25px 0;
    font-size: 23px;
    font-weight: bold;
}

article .news-resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
}

article .news-link {
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex:1;
    min-width: 300px;
    margin: 0 30px 0 0;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.container .footer-menu {
    display: flex;
    width: 990px;
    width: 100%;
}

.footer-menu a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 20px;
}

.fm-1,
.fm-2,
.fm-3 {
    flex: 1;
    color: #FFF;
}

.fm-1 {
    background-color: #39aae1;
}

.fm-2 {
    background-color: #0079c7;
}

.fm-3 {
    background-color: #2b4c99;
}

.flexColumn {
    flex-direction: column;
}

.footer-area {
    display: flex;
}

.footer-area-item {
    flex: 1;
    color: #fff;
}

footer .widget-title-text {
    color: #FFF;
}

.footer-copy {
    display: flex;
    align-items: center;
    color: #5c5c5c;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    font-size: 12px;
    margin-top: 30px;
}

footer .lk {
    background-color: #39aae1;
    width: 100%;
}

.lk a {
    color: black;
    font-weight: bold;
    margin: 15px;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin: 40px 20px 40px 0;
}

/* RESPONSIVIDADE */

@media(max-width: 600px) {

    .menu {
        font-size: 13px;
        max-width: 390px;
        width: auto;
        height: auto;
    }

    .banner-headline {
        padding: 20px;
    }

    .banner-headline h1 {
        font-size: 30px;
    }

    .banner-headline h2 {
        font-size: 17px;
    }

    .banner-options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }
    
    #geral section, aside {
        padding: 20px;
    }

    .footer-menu {
        flex-direction: column;
    }
    
    .footer-area {
        flex-direction: column;
        padding: 20px;
    }

    .footer-copy {
        padding: 0 0 0 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFF;
    }

    header {
        height: auto;
    }

    .logo {
        padding-left: 20px;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mm-line {
        height: 3px;
        background-color: #39aae1;
    }

}