/*
 .pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
 */

/* Padronizacao do Site */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    /* color: #FFF; */
}


/* HEADER */
header {
    height: 100px;
    background-color: #000;
    color: #FFF;
}

header .cont-header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Logo */
.logo {
    width: 100px;
}

.logo-img {
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}


/* Menu */
.menu {
    flex: 1; /*Para pegar todo o restando do espaco*/
    display: flex;
    justify-content: flex-end; /*Para mandarr nosso menu para a direita */
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex; /* Com isso um menu ficara ao lado do outro */
}

.menu li a {
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex; /* Para conseguirmos aumentar sua altura, isso por conta da borda que iremos colocar abaixo*/
    align-items: center;
    padding-left: 10px;
    padding-right: 10px ;
    height: 100px;
    border-bottom: 5px solid black; /* Foi adicionado pois sem isso, da efeito de se mexer ao passar o mouse por conta de nosso hover no link*/
}

.menu li a:hover,
.menu .active a  {
    border-bottom: 5px solid #b28756;
    color: #CCC;
}

/* BANNER */
.banner {
    height: calc(100vh - 100px); /* 100px sao do header */
    background-color: #333;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden; /* Usado para que tudo que passe do tamanho definido dentro dele, ira ser ignorado, assim removendo scroll lateral */
}

/*BANNER - SLIDER */
.banner .sliders {
    width: 1000vw; /*Aqui temos 1000, pois cada slider tem 100 e se tivermos 10 slider, entao teremos que colocar uma width de 1000*/
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide-area {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.banner a {
    display: block; /* Aqui sera block poisp precisaremos mexer com padding e algumas outras confg */
    background-color: #b28756;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
}


/* FOOTER */
footer {
    background-color: #000;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

a .next {
    color: purple;
}
